body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #0d0633;
}

main {
    color: rgb(255, 255, 255);
    height: 100%;
    background-color: #c8782e;
    text-align: center;
}

@media (min-width: 900px) {
    .form-test {
        grid-template-columns: repeat(2, 1fr);
    }
    .teste {
        height: 200px;
        margin-left: 10px;
        transform: rotate(270deg);
        overflow-x: auto;
    }
}

.entry-form {
    margin: 30px;
    color: rgb(255, 255, 255);
    background-color: rgba(209, 140, 67, 0.58);
    text-align: left;
    justify-content: center;
    border-radius: 20px;
    border-style: outset;
    border-color: rgb(255, 255, 255);
    padding: 25px;
}

.entry-form p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: #218d33;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    border-style: outset;
    padding: 25px;
    margin-bottom: 10px;
}

.measurement-choice input {
    margin-right: 8px;
}

label {
    padding-right: 10px;
}

.activity-level {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
}

.activity-level select {
    font-size: 12px;
}

#calculate-btn {
    background-color: #6f5be3;
    border-color: #6f5be3;
    ;
}

#calculate-btn:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.calorie-result p {
    margin-top: 10px;
    display: contents;
    padding-right: 5px;
    font-size: 20px;
}

.calorie-result {
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: #218d33;
}

.button-form {
    display: flex;
    margin-top: 15px;
    justify-content: center;
}

.form-search {
    background-color: aliceblue;
    margin: 30px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: #218d33;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    border-style: outset;
    border-color: rgb(255, 255, 255);
    padding: 25px;
}

.search-input {
    margin-top: 40px;
    justify-content: center;
}

small a {
    color: rgb(249, 255, 255);
}

small a:hover {
    color: lightslategrey;
}

footer {
    height: 20px;
    margin-top: -50px;
    padding-top: 50px;
    padding-bottom: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


table {
  border: 1px solid rgb(189, 163, 163);
  border-collapse: collapse;
  margin: 0;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #3c362d28;
  border: 2px solid rgb(255, 253, 253);
  padding: .35em;
  margin: 10px;
  border-radius: 10px;
}

table th,
table td {
  color: #241f1f;
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  color: #000000;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    height: 50px;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}
