body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #0d0633;
}

main {
    color: rgb(255, 255, 255);
    height: 100%;
    background-color: #41338f;
    text-align: center;
}

@media (min-width: 900px) {
    .form-test {
        grid-template-columns: repeat(2, 1fr);
    }
}

.entry-form {
    margin: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(24, 24, 26);
    text-align: left;
    justify-content: center;
    border-radius: 20px;
    border-style: outset;
    border-color: rgb(255, 255, 255);
    padding: 25px;
}

.entry-form p {
    color: rgb(255, 255, 255);
    font-size: large;
    background-color: #218d33;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    border-style: outset;
    padding: 25px;
    margin-bottom: 10px;
}

.measurement-choice input {
    margin-right: 8px;
}

label {
    padding-right: 10px;
}

.activity-level {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
}

.activity-level select {
    font-size: 12px;
}

#calculate-btn {
    background-color: #6f5be3;
    border-color: #6f5be3;
    ;
}

#calculate-btn:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.calorie-result p {
    margin-top: 10px;
    display: contents;
    padding-right: 5px;
    font-size: 20px;
}

.calorie-result {
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: #218d33;
}

.form-test {
    display: grid;
    grid-gap: 1rem;
}

.button-form {
    display: flex;
    margin-top: 15px;
    justify-content: center;
}

.form-search {
    background-color: aliceblue;
    margin: 30px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: #218d33;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    border-style: outset;
    border-color: rgb(255, 255, 255);
    padding: 25px;
}

.search-input {
    
    margin-top: 40px;
    justify-content: center;
}

small a {
    color: rgb(249, 255, 255);
}

small a:hover {
    color: lightslategrey;
}

footer {
    height: 20px;
    margin-top: -50px;
    padding-top: 50px;
    padding-bottom: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}